.footer {
  background: linear-gradient(180deg, #000, #0a0a0a);
  color: white;
  padding: 60px 20px 20px;
  position: relative;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.logo {
  font-size: 26px;
  margin-bottom: 15px;
}

.logo span {
  color: #22c1ff;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.7;
  color: #d1d5db;
}

.footer-col h3 {
  margin-bottom: 15px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #d1d5db;
  cursor: pointer;
}

.footer-col ul li:hover {
  color: #22c1ff;
}

.footer-col a {
  color: #22c1ff;
  text-decoration: none;
}

/* Social */
.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.social-icons a {
  width: 36px;
  height: 36px;
  border: 1px solid #555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #22c1ff;
  color: black;
}

/* Newsletter */
.newsletter {
  display: flex;
  margin-top: 15px;
}

.newsletter input {
  flex: 1;
  padding: 12px;
  background: #1f1f1f;
  border: none;
  color: white;
}

.newsletter button {
  background: #1e88e5;
  border: none;
  padding: 12px 20px;
  color: white;
  cursor: pointer;
}

.newsletter button:hover {
  background: #1565c0;
}

/* Bottom */
.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid #333;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
}

.footer-bottom span {
  color: #22c1ff;
}

/* Scroll to top */
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #1e88e5;
  color: white;
  padding: 12px;
  border-radius: 6px;
}
.txt_color a{
  color: white;
}
.txt_color a:hover{
  color: #22c1ff;
}